.jsii
node_modules
dist
/tsconfig.json
lambda/*
!lambda/*.ts
!lambda/build
!lambda/package.json
!lambda/package-lock.json
**/*.js
!eslint.config.js
**/*.d.ts
**/cdk.out
**/cdk.context.json
tsconfig.tsbuildinfo
.npm
*.tgz
